@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('~mdb-ui-kit/css/mdb.min.css');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root{
    --orange-soda: hsl(7, 96%, 61%);
    --white: hsl(0, 0%, 100%);
    --vivid-sky-blue: hsl(196, 84%, 63%);
    --cadet-blue-crayola: hsl(240, 10%, 70%);
    --ff-barlow: 'Barlow', sans-serif;
    --independence: hsl(225, 24%, 27%);
    --fw-600: 600;
    --transition-2: 0.25s ease;
}

*{
    font-family: 'Ubuntu', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
    line-height: 1.6;
    /* text-transform: capitalize; */
    transition: all .3s linear;
}



html{
    font-size: 60%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--vivid-sky-blue);
}

body{
    background-color: #151515;
    overflow-x: hidden;
    padding-bottom: 0;
}
  
section{
    min-height: 100vh;
    padding: 1rem 8rem;
}


.wrap{
max-width: 64rem;
padding-left: 1rem;
padding-right: 1rem;
margin:auto;
text-align: center;

}


.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.header-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; /* 可根据需要调整元素之间的间距 */
}

.contianer {
    display: flex;
    align-items: center;
}


.project{
    display: flex;
    flex-flow: column;
    /* padding:0 8rem; */
}
  
.project h1{
    font-size:5rem;
    color:var(--vivid-sky-blue);
    text-align: center;
}
.project h2{
    text-align: center;
}

.project h3{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    text-align: center;
    font-family: var(--ff-barlow);
}

.project p{
    font-size:2rem;
    color:#eee;
    
    padding-left: 5rem;
    padding-right: 1rem;
    font-family: var(--ff-barlow);
    text-align: justify;
}
.underline {
    border-bottom: 2px solid;
    color: var(--glaucous); /* 设置边框底部为白色实线，可以根据需要调整粗细和样式 */
    display: inline-block; /* 使边框只覆盖文本的宽度 */
    padding-bottom: 5px; /* 可选，用于调整文本与边框之间的间距 */
}
  
.card-img{
    /* width: 40%;
    height: 50%;  */
    object-fit: cover;
    margin-top: 5rem;
    margin-right: 1rem;
    border-radius: 5%;
}

.techstack {
    font-size: 1.5rem;
    margin: 0 0.7rem;
    box-shadow: inset 0.2rem 0.2rem 0.3rem #000, 
    inset -0.2rem -0.2rem 0.3rem #555;
    color: var(--white);
    background:  var(--cadet-blue-crayola);
    border-radius: .5rem;
    display: inline-block;
    padding: .5rem 1rem;
    font-style: italic;
}

.top{
    position: fixed;
    bottom:5rem; 
    right: 0.5rem;
    z-index: 100;
    display: flex;

}

.new {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 允许内容换行 */
}

.footer {
    background-color: var(--independence);
    font-size: 15px;
    color: var(--vivid-sky-blue);
    padding-block: 30px;
}

.copyright {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 10px;
}
  
.copyright-link {
    display: inline-block;
    color: var(--vivid-sky-blue);
    transition: var(--transition-2);
    font-weight: var(--fw-600);
}
.copyright-link:is(:hover, :focus) { color: var(--white); }


.footer-list {
    max-width: max-content;
    font-size: 15px;
    color: var(--vivid-sky-blue);
    margin-inline: auto;
}


.footer-list * { display: inline-block; }

.footer-list > li:not(:last-child) { margin-inline-end: 40px; }

.footer-link { transition: var(--transition-2); font-size: 15px; color: var(--vivid-sky-blue);}

.footer-link:is(:hover, :focus) { color: var(--white); }

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .project{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
}

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }
    .heading2{
        margin:0 3rem;
    }
}
